
.Main {
    background: rgb(215, 141, 167);
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.Container{
    flex:auto;
    margin: 10px 0px 10px 0px;
    width: 80vw;
    height: 33vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font: white; 
    font-size: 1.5em;

    background: rgba(217, 217, 217, 0.4);
    box-shadow: -6px 7px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.Content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}

.Image{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
}

.TodoImage{
    background-image: url("../assets/images/todo.jpg"); 
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.Description {
    height: 80%;
    margin: 20px;
    max-width: 35vw;
    padding: 5px;
    text-align: left;
    font-size: 0.55em;
}

.Container:hover{
    filter: opacity(.8);
    cursor: pointer;
    box-shadow: -6px 7px 4px rgba(0, 0, 0, 0.4);
}
